.zw-btn{
    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    color: #F1F1F2;
    padding: 14px 30px;
}
.zw-btn-primary{
    background: #12559D
}